body {
  background-color: black;
  color: white;
  font-family: Verdana;
  text-align: center;
}

.main {
  font-weight: normal;
  font-size: 50px;
}

h1 {
  font-weight: 300;
  font-size: 42px;
}

p {
  color: gray;
  font-size: 21px;
}

.link {
  color: aquamarine;
  font-size: 16px;
}

.copyright {
  text-align: right;
}
